<p style="color: green"><%= notice %></p>

<%= render @user %>

<div class="btn-group my-5">
  <%= link_to "Edit this user", edit_user_path(@user), class: "btn btn-sm btn-outline-dark" %>
  <%= link_to "Back to users", users_path, class: "btn btn-sm btn-outline-dark" %>
  <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-sm btn-outline-dark" %>
</div>
